{% extends 'base.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
    <!-- Page Content -->
    <!-- Single Starts Here -->
    <div class="single-product">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>{{ product }}</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product-slider">
              <div id="slider" class="flexslider">
                {#% if product.image %#}
                <img src="{{ product.image|media_folder_products }}"
                     alt="{{ product.name }}"
                     title="{{ product.name }}"
                     class="img-fluid">
                {#% endif %#}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-content">
              <h4>{{ product.name }}</h4>
              <h6>${{ product.price|floatformat:"0g" }}</h6>
              <p>{{ product.description }}</p>

              <div class="main-button">
                <a href="{% url 'basket:add' product.pk %}">Заказать</a>
              </div>

              <div class="down-content">
                <div class="categories">
                  <h6>Категория: <span>{{ category }}</span></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Page Ends Here -->


    <!-- Similar Starts Here -->
    <div class="featured-items">
      <div class="container">
        <div class="row">

          <div class="col-md-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Похожие продукты</h1>
            </div>
          </div>

          <div class="col-md-12">
            <div class="owl-carousel owl-theme">

              {% for product in same_products %}
              <a href="{% url 'products:product' product.pk %}">
                <div class="featured-item">
                  <img src="{{ product.image|media_folder_products }}"
                     alt="{{ product.name }}"
                     title="{{ product.name }}"
                     class="img-fluid">
                  <h4>{{ product.name|capfirst }}</h4>
                  <h6>${{ product.price|floatformat:"0g" }}</h6>
                </div>
              </a>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Similar Ends Here -->
{% endblock %}